<div class="container_geral">
    <div class="card_mensagem">
        <p class="autor">Luciane</p>
        <p class="mensagem">Vê isso ai</p>
        <hr class="linha_divisoria">
    </div>
    <div class="card_mensagem">
        <p class="autor">Pedro</p>
        <p class="mensagem">Coe cara, oq ta vendo?</p>
        <hr class="linha_divisoria">
    </div>
    <div class="card_mensagem">
        <p class="autor">Guilherme</p>
        <p class="mensagem">kkkkkkkk</p>
        <hr class="linha_divisoria">
    </div>
    <div class="card_mensagem">
        <p class="autor">Leonardo</p>
        <p class="mensagem">kkkkkkkkkk</p>
        <hr class="linha_divisoria">
    </div>
    <div class="card_mensagem">
        <p class="autor">Meres</p>
        <p class="mensagem">kkk</p>
        <hr class="linha_divisoria">
    </div>
</div>