
<div class="container_listas">
    <p id="escrita_lista_usuario">Listas</p>
    <ul>
        <li class="lista_usuario">A ver
            <div class="container_posts">
                <button (click)="redirectToDetail(3)">
                    <img class="img_lista" src="https://ibmecprojetocloudvh.blob.core.windows.net/posts/dr_house.png" alt="dr_house">
                </button>
                <button (click)="redirectToDetail(1)">
                    <img class="img_lista" src="https://ibmecprojetocloudvh.blob.core.windows.net/posts/jumanji.png" alt="Post Jumanji">
                </button>
                <button (click)="redirectToDetail(2)">
                    <img class="img_lista" src="https://ibmecprojetocloudvh.blob.core.windows.net/posts/moana.png" alt="Post Jumanji">
                </button>
            </div>
        </li>
    </ul>
</div>