.container_listas {
    margin-left: 30vw;
    padding: 10px;
    width: 40vw;
    min-height: 73.1VH;

    background-color: rgba(29, 28, 42, 1);
    color: rgba(245, 126, 182, 1);

}

#escrita_lista_usuario {
    font-size: 20px;
}

.lista_usuario {
    font-size: 20px;
}

.container_posts {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.img_lista {
    width: 125px;
}